#contenedor {
    margin-left: 0;
    margin-top: 0;
    display: block;
    overflow: scroll;
    background-color: blue;
    width: 100vw;
    height: 100vh;

}

#listaLayout {
    flex: 1;
    display: inline-flex;
    overflow: auto;
    background-color: blue;
    margin: 6vh;
    padding: 3vh;
    height: 82vh
}

#listaLayout h1 {
    font-size: 3vh;
    color: darkgreen;
    font-family: 'Protest Guerrilla';
}

#cajita1 {
    overflow: auto;
    font-size: 14px;
    color: rgb(241, 247, 241);
    height: 74vh;
    width: 60vw;
    padding: 5vh;
    margin: 0;
    border: solid green;
    border-radius: 4vh;
    border-width: 0.4vh;
    background-image: url('images/camo.jpg');
    background-size: cover;
    background-position: center
}
#cajita1 h3{
    color: yellow; 
    font-size:2vh;
}
#cajita2 {
    overflow: auto;
    display: inline-block;
    font-size: 14px;
    background-color: rgb(242, 246, 233);
    height: 74vh;
    width: 20vw;
    padding: 5vh;
    border: solid green;
    border-width: 0.4vh;
    border-radius: 4vh;
    background-image: url('images/yagui.gif');
}

#ingreso {
    height: 50vh;
    overflow: scroll;
    width: 50vw;
    background-color: black;
    color: whitesmoke;
    font-size: 26px;
}

#salida {
    height: 50vh;
    overflow: scroll;
    width: 20vw;
    position: relative;

    background-color: black;
    color: whitesmoke;
    font-size: 27px;
}

#robot {
    position: absolute;
    z-index: 2;
    size: 45vh;
    width: 16vw;
    margin-left: 1vw;
    margin-top: 1vh;
    opacity: 0
}

#codificar {
    margin-left: 10vh;
    margin-top: 1vh;
    height: 10vh;
    width: 30vh;
    font-size: 4vh;
    background-color: rgb(196, 255, 233);
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: bold;
}

#decodificar {
    margin-left: 10vh;
    margin-top: 1vh;
    height: 10vh;
    width: 30vh;
    font-size: 4vh;
    background-color: rgb(196, 255, 233);
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: bold;
}

#copiar {
    margin-left: 4vh;
    margin-top: 1vh;
    height: 10vh;
    width: 30vh;
    font-size: 4vh;
    background-color: rgb(196, 255, 233);
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: bold;
}
.botones{box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);}